<div id="<%= dom_id automobile %>">
  <p>
    <strong>Name:</strong>
    <%= automobile.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= automobile.price %>
  </p>

  <p>
    <strong>Horse power:</strong>
    <%= automobile.horse_power %>
  </p>

</div>
