<h1>Editing automobile</h1>

<%= render "form", automobile: @automobile %>

<br>

<div>
  <%= link_to "Show this automobile", @automobile %> |
  <%= link_to "Back to automobiles", automobiles_path %>
</div>
