<div id="<%= dom_id indicator %>">
  <p>

  <p>
    <strong>Values:</strong>
    <%= indicator.values %>
  </p>

  <p>
    <strong>Mechanism:</strong>
    <%= indicator.mechanism_id %>
  </p>

</div>
